body{
  padding: 0; margin: 0;
}
.formbox{
  background-color: #ffffff;
  color: blue;
  font-family:Tahoma;
  font-size: 92%;
  padding-left: 10px;
  padding-top: 10px;
}

.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_toolbar_def{
  padding: 6px; border-width: 1px;
}

.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn div.dhxtoolbar_text{
  margin-left: 0;
  line-height: 18px;
}

.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn i.fa{
  margin-top: 0;
  color: #0072BC;
}
