<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see https://ejs.co.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">
      window._trackJs = {
        token: "<%=htmlWebpackPlugin.options.trackJSToken%>"
      };
    </script>
    <script
      type="text/javascript"
      src="https://cdn.trackjs.com/releases/current/tracker.js"
    ></script>
    <!-- END TRACKJS -->
    <% } %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="dhtmlx/skins/web/dhtmlx.css"/>   -->
    <!-- <link rel="stylesheet" type="text/css" href="dhtmlx/skins/terrace/dhtmlx.css"/>   -->
    <!-- <link rel="stylesheet" type="text/css" href="dhtmlx/skins/skyblue/dhtmlx.css"/>   -->
  </head>
  <body>
  </body>
</html>
